head
    title [rait]
    meta(charset='UTF-8')
    meta(name='keywords' content='key7men blog')
    link(href='./style.css' rel='stylesheet')
    link(href='./assets/favicon.ico' rel='shortcut icon')
    script(src='//cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js')

